<!--?xml version="1.0" encoding="iso-8859-1"?-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1" />
	<meta name="pdfkit-orientation" content="Portrait" />
	<meta name="pdfkit-page_size" content="Letter" />
	<title>how-to bookshop</title>
	<link rel="stylesheet" type="text/css" href="assets/css/stylesheet.<%= @output %>.css" />
	<% if @output != :pdf %>
		<link rel="stylesheet" type="application/vnd.adobe-page-template+xml" href="assets/css/page-template.xpgt"/>
	<% end %>
</head>
<body>
<p><a name="title">New Title:</a> 
	<% if @output == :html %>
		<%= @book.html.title %>
	<% elsif @output == :pdf %>
		<%= @book.pdf.title %>
	<% elsif @output == :epub %>
		<%= @book.epub.title %>
	<% end %></p>
<p>Subtitle: <%= @book.subtitle %></p>
<p>ISBN: <%= @book.isbn %></p>


<%= import('cover.html.erb')%>
<%= import('toc.html.erb')%>
<%= import('preface.html.erb')%>

<!-- Chapter 01 has additional imports included inside of it -->
<%= import('ch01/ch01.html.erb')%>

<!-- Chapter 01 has additional imports included inside of it -->
<%= import('ch02/ch02.html.erb')%>

</body></html>