<!--?xml version="1.0" encoding="iso-8859-1"?-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html><head>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
<title>Cascading Style Sheets - Designing for the Web</title>
<link rel="stylesheet" type="text/css" href="css/stylesheet.css">
</head>
<body>
<p>Title: <%= book.title %></p>
<p>Subtitle: <%= book.subtitle %></p>
<p>ISBN: <%= book.isbn %></p>


<%= import('cover.html.erb')%>
<%= import('toc.html.erb')%>
<%= import('preface.html.erb')%>

<!-- Chapter 01 has the imports included inside of it -->
<%= import('ch01/ch01.html.erb')%>

<!-- Chapter 01 has the imports included inside of it -->
<%= import('ch02/ch02.html.erb')%>

</body></html>