<!--?xml version="1.0" encoding="iso-8859-1"?-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html><head>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
<title>Cascading Style Sheets - Designing for the Web</title>
<link rel="stylesheet" type="text/css" href="css/stylesheet.css">
</head>
<body>

<%= import('book/cover.html.erb')%>
<%= import('book/toc.html.erb')%>
<%= import('book/preface.html.erb')%>

<!-- Chapter 01 has the imports included inside of it -->
<%= import('book/ch01/ch01.html.erb')%>

<!-- Chapter 01 has the imports included inside of it -->
<%= import('book/ch02/ch02.html.erb')%>

</body></html>